@page
@using EFDataAccessLibrary.Models
@using Models
@model IndexModel
@{
    string title = "Your first step in e-Sport";
    ViewData["Title"] = title;
    Random rnd = new Random();
    List<String> events = new List<string>()
{
                "European Development Championship 4", "ESL One Cologne", "IEM Katowice", "ARRMY League Masters",
                "ARRMY League Rising", "ARRMY League Open", "ESEA Open", "ESEA Advanced", "Sweet Home Spring 3"
            };
    var results = Model.results;
    var news = Model.NewsHeaders;
    if (news is null) { news = new List<NewsHeader>(); }
    if (results is null) { results = new List<Match>(); }
}

@section Styles {
    <link rel="stylesheet" href="~/css/indexSite.css" />
}

<div class="indexBody">
    <div class="banner">
        <img src="~/images/banner.png" />
    </div>

    <div class="hero">
        <div class="titleBar">
            <h1 class="title">@title</h1>
            <p>Stwórz drużynę i przebij się do światej czołówki! <a class="gettingStart" href="https://docs.microsoft.com/aspnet/core">Zaczynajmy.</a></p>
        </div>

        <div class="colLeft">
        </div>

        <div class="colMain">
            <div class="newsfeed">
                <p class="titleBar">AKTUALNOŚCI</p>
                <ul>
                    @foreach (NewsHeader header in news)
                    {
                        <li>
                            <div class="titleNewsBar">
                                <p>@header.NewsTitle</p>
                                <p class="newsFeed-date">@header.NewsPublishDate.ToString("dd/MM/yyyy")</p>
                            </div>
                            <span>@header.NewsDesc</span>
                            <span class="linkRead"><a asp-page="/post" asp-route-id="@header.NewsId">Read more...</a></span>

                        </li>
                    }
                </ul>
                <form method="get" action="/news">
                    <button type="submit">Więcej aktualności</button>
                </form>
            </div>
        </div>

        <div class="colRight">
            <div class="matchesResults">
                <p>Wyniki</p>
                <ul>
                    @foreach (Match match in results)
                    {
                        <li>
                            <a class="eventName" asp-page="/event" asp-route-_event.Name="@match.Event.Name" asp-route-id="@match.Event.EventID" >@match.Event.Name</a>
                            <a asp-controller="Matches" asp-action="Match" asp-route-id="@match.MatchID">
                                <div class="teamrows">
                                    <div class="teamrow">
                                        <img src="@Country.GetCountry(match.Team1.Country)">
                                        <span>@match.Team1.TeamName</span>
                                    </div>
                                    <div class="teamrow">
                                        <img src="@Country.GetCountry(match.Team2.Country)">
                                        <span>@match.Team2.TeamName</span>
                                    </div>
                                </div>
                                @if (match.ScoreTeam1 > match.ScoreTeam2)
                                {
                                    <div class="twoRowExtra">
                                        <div class="twoRowExtraRow won">
                                            @match.ScoreTeam1
                                        </div>
                                        <div class="twoRowExtraRow lost">
                                            @match.ScoreTeam2
                                        </div>
                                    </div>
                                }
                                else
                                {

                                    <div class="twoRowExtra">
                                        <div class="twoRowExtraRow lost">
                                            @match.ScoreTeam1
                                        </div>
                                        <div class="twoRowExtraRow won">
                                            @match.ScoreTeam2
                                        </div>
                                    </div>
                                }
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>