@page "/player/{id:int}"
@model GameSky.Pages.PlayerModel
@using EFDataAccessLibrary.Models
@using GameSky.Models
@{
    Player player = Model._player;

    Random rnd = new Random();

    string GetDateOrTime(DateTime StartDate)
    {
        if (StartDate.Date == DateTime.Today)
        {
            return StartDate.ToString("HH:mm");
        }
        return StartDate.ToString("dd MMM");
    }
}
@section Styles {
    <link rel="stylesheet" href="~/css/matchesAndResults.css" />
    <link rel="stylesheet" href="~/css/playerProfil.css" />
}
<div id="partial-view">
    @Html.Partial("~/Pages/Shared/PartialViews/_PlayerProfileHeader.cshtml", player)
</div>
<div class="matchList">
    <h3 class="text-center">Upcoming matches</h3>
    <div class="results" style="margin-top:20px">
        <div class="results-all">
            <div class="results-sublist">
                @foreach(var match in @Model.upcomingMatches)
                {
                    <div class="result-con">
                        <a asp-controller="Matches" asp-action="Match" asp-route-id="@match.MatchID">
                            <div class="result">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="team-cell">
                                                <div class="line-align team1">
                                                    <div class="team">@match.Team1.TeamName</div>
                                                    <img src="@Country.GetCountry(match.Team1.Country)">
                                                </div>
                                            </td>
                                            <td class="result-score">
                                                <span class="score-won">@match.ScoreTeam1</span>
                                                -
                                                <span class="score-lost">@match.ScoreTeam2</span>
                                            </td>
                                            <td class="team-cell">
                                                <div class="line-align team2">
                                                    <img src="@Country.GetCountry(match.Team2.Country)">
                                                    <div class="team">@match.Team2.TeamName</div>
                                                </div>
                                            </td>
                                            <td class="event">
                                                <span class="event-name">@match.Event.Name</span>
                                            </td>
                                            <td class="star-cell">
                                                <div class="map-text">@GetDateOrTime(match.StartDate)</div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<audio id="successPayment" src="~/sounds/success_payment.mp3" />

<script>
    function UpgradeSkill(skill) {
        var skillname = $(skill).data("custom-value");
        $.ajax({
            url: "/player/@player.PlayerID?handler=UpgradeSkill",
            type: "post",
            contentType: "application/x-www-form-urlencoded",
            data: { 'name': skillname, 'id': @player.PlayerID },
            success: function (result) {
                RefreshGold();
                setTimeout($("#partial-view").html(result), 700);
                var audio = document.getElementById('successPayment');
                audio.play();
            }
        });
    }

    function RefreshGold() {
        $.ajax({
            url: "/player/@player.PlayerID?handler=UsersGold",
            type: "post",
            dataType: "JSON",
            success: function (result) {
                var field = document.getElementById('goldText');
                field.innerText = result;
            }
        });

    }
</script>