@page
@model GameSky.Pages.PlayersModel
@using EFDataAccessLibrary.Models;
@{
    List<Player> players = Model.players;
    List<Team> teams = Model.teams;

    int iteamsPerPage = Model.playersPerPage;
    int pages = Model.pagesOfPlayers;

}

@section Styles {
    <link rel="stylesheet" href="~/css/playersList.css" />
}

<div class="divs--container">
    <div class="filters-bar">
        <div class="filters-wrapper">
            <div class="teamComboBox">
                <label for="cars">Drużyna:</label>

                <select name="teams" id="teams" onchange="findPlayersOfTeam(this)">
                    <option value="-1">---</option>
                    @foreach (Team team in teams)
                    {
                        <option value="@team.TeamID">@team.TeamName</option>

                    }
                </select>
            </div>
            <div class="search-bar">
                <input type="text" placeholder="Szukaj..." />
                <button id="search">Szukaj</button>
            </div>
        </div>
    </div>
        <div id="players-view">
            @Html.Partial("~/Pages/Shared/PartialViews/_PlayersPage.cshtml", players)
        </div>
        <div class="pagination">
            <a onclick="changePage(1)">&laquo;</a>
            @for (int i = 0; i < pages; i++)
            {
                int pageNum = i + 1;
                if (i == 0)
                {
                    <a class="pageBtn currentPage" onclick="changePage(@pageNum)" id="@("pageBtn" + pageNum)">@pageNum</a>
                }
                else
                {
                    <a class="pageBtn" onclick="changePage(@pageNum)" id="@("pageBtn" + pageNum)">@pageNum</a>
                }
            }
            <a onclick="changePage(@pages)">&raquo;</a>
        </div>
</div>

<script>
    function changePage(number) {
        var button = document.getElementById("pageBtn" + number);
        var activeBtn = document.getElementsByClassName("currentPage")[0];


        if (!button.disabled) {
            activeBtn.classList.remove("currentPage");
            activeBtn.disabled = false;

            button.classList.add("currentPage");
            button.disabled = true;
            $.ajax({
                url: "/players?handler=Players",
                type: "get",
                data: { pageNum: number, pageSize: @iteamsPerPage},
                success: function (result) {
                    $("#players-view").html(result);
                }
            });
        }
    }

    function findPlayersOfTeam(teams) {
        var selectedValue = teams.value;

        $.ajax({
                url: "/players?handler=PlayersInTeam",
                type: "get",
                data: { teamID : selectedValue },
                success: function (result) {
                    $("#players-view").html(result);
                }
            });
    }
</script>