@page
@model GameSky.Pages.PlayersModel
@using EFDataAccessLibrary.Models;
@using GameSky.Models;
@{
    ViewData["Title"] = $"Rynek";
    List<Player> players = Model.players;

    int itemsPerPage = Model.playersPerPage;
    var playerspage = new PlayersPageModel()
    {
        Players = players,
        ItemsPerPage = Model.playersPerPage,
        TotalAmount = Model.playersCount,
        CurrentPage = 1
    };

}

@section Styles {
    <link rel="stylesheet" href="~/css/playersList.css" />
    <link rel="stylesheet" href="~/css/playerCard.css" />
}

<div class="divs--container">
    <div class="filters-bar">
        <div class="filters-wrapper">
            <div class="teamComboBox">
                <label>Jakość:</label>
                <select name="qualities" id="qualities" onchange="findPlayers()">
                    <option value="Any"></option>
                    <option value="33">@PlayerCardQuality.iron.ToString().ToUpper()</option>
                    <option value="25">@PlayerCardQuality.bronze.ToString().ToUpper()</option>
                    <option value="18">@PlayerCardQuality.silver.ToString().ToUpper()</option>
                    <option value="13">@PlayerCardQuality.gold.ToString().ToUpper()</option>
                    <option value="7">@PlayerCardQuality.platinium.ToString().ToUpper()</option>
                    <option value="2">@PlayerCardQuality.diamond.ToString().ToUpper()</option>
                    <option value="1">@PlayerCardQuality.immortal.ToString().ToUpper()</option>
                </select>
            </div>
            <div class="teamComboBox">
                <label>Rola:</label>
                <select name="roles" id="roles" onchange="findPlayers()">
                    <option value="Any"></option>
                    <option value="IGL">IGL</option>
                    <option value="Rifler">Rifler</option>
                    <option value="AWP">AWP</option>
                </select>
            </div>
            <div class="search-bar">
                <input id="searchInput" type="text" placeholder="Szukaj..." />
                <button id="search" onclick="searchQuery()">Szukaj</button>
            </div>
        </div>
    </div>
    <div id="players-view">
        @Html.Partial("~/Pages/Shared/PartialViews/_PlayersPage.cshtml", playerspage)
    </div>
</div>

<script>
    ClearCards();
    function findPlayers() {
        var quality = document.getElementById("qualities").value;
        var role = document.getElementById("roles").value;
        var queryVal = document.getElementById("searchInput").value;

        $.ajax({
                url: "/players?handler=PlayersWithFilters",
            type: "get",
            data: { pageNum: 1, pageSize: @itemsPerPage, roleName: role, quality: quality, query: queryVal },
            success: function (result) {
                $("#players-view").html(result);
                ClearCards();
            }
            });
    }

    function searchQuery() {
        var quality = document.getElementById("qualities").value;
        var role = document.getElementById("roles").value;
        var queryVal = document.getElementById("searchInput").value;

        $.ajax({
                url: "/players?handler=PlayersWithFilters",
                type: "get",
            data: { pageNum: 1, pageSize: @itemsPerPage, roleName: role, quality: quality, query: queryVal},
                success: function (result) {
                    $("#players-view").html(result);
                    ClearCards();
                }
        });
    }
    function ClearCards() {
        var cards = document.getElementsByClassName('bought');
        while (cards.length > 0) {
            cards[0].classList.remove('bought');
        }
    }
</script>