@using EFDataAccessLibrary.Models
@using GameSky.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@section Styles {
    <link rel="stylesheet" href="~/css/matchUpSite.css" />
}

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    Match match = ViewBag.Match;
    ViewBag.Title = $"{match.Team1.TeamName} vs {match.Team2.TeamName}";
    Team team1 = match.Team1;
    Team team2 = match.Team2;
}
<div class="match-container">
    <div class="match-header" id="partialHeader">
        @Html.Partial("~/Views/Shared/Matches/_MatchHeader.cshtml", match)
    </div>

    <div class="event-name">
        <p>
            <a asp-page="/event" asp-route-id="@match.Event.EventID">
                @match.Event.Name
            </a>
        </p>
    </div>
    <div class="clearfix spacer"></div>
    <div class="section-spacer"></div>

    <!-- #region Linups -->
    <div class="lineups">
        <div class="headline">Lineups</div>
        <div class="lineups-container">
            <div class="lineup lineup-team1 standard-box">
                <div class="box-headline flex-aling-center">
                    <div class="flex-align-center box-headline-team1">
                        <img src="~/images/100pg.png" class="logo" />
                        <a class="text-ellipsis">@match.Team1.TeamName</a>
                    </div>
                </div>
                <div class="players">
                    <table class="table">
                        <tbody>
                            <tr>
                                @foreach (var p in team1.GetActiveRoster())
                                {
                                    <td class="player player-image"> <img src="~/images/blankplayer.svg" class="player-photo blank" /></td>
                                }
                            </tr>
                            <tr>
                                @foreach (var p in team1.GetActiveRoster())
                                {
                                    <td class="player"> <div class="flagAlign"> <img src="@Country.GetCountry(team1.Country)" class="flag" /> <div class="text-ellipsis">@p.NickName</div> </div></td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="versus">vs</div>

            <div class="lineup lineup-team2 standard-box">
                <div class="box-headline flex-aling-center">
                    <div class="flex-align-center  box-headline-team2">
                        <img src="~/images/virtuspro.svg" class="logo" />
                        <a class="text-ellipsis">@match.Team2.TeamName</a>
                    </div>
                </div>
                <div class="players">
                    <table class="table">
                        <tbody>
                            <tr>

                                @foreach (var p in team2.GetActiveRoster())
                                {
                                    <td class="player player-image"> <img src="~/images/blankplayer.svg" class="player-photo blank" /></td>
                                }
                            </tr>
                            <tr>
                                @foreach (var p in team2.GetActiveRoster())
                                {
                                    <td class="player"> <div class="flagAlign"> <img src="@Country.GetCountry(team2.Country)" class="flag" /> <div class="text-ellipsis">@p.NickName</div> </div></td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- #endregion -->

    <div class="clearfix spacer"></div>
    <div class="section-spacer"></div>
@* Dodać sekcję statystyk graczy dla każdej drużyny *@
</div>

<script>
</script>