@page
@using EFDataAccessLibrary.Models
@using GameSky.Models
@using Microsoft.AspNetCore.SignalR
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewBag.Title = "Results";
}
@section Styles{
    <link rel="stylesheet" href="~/css/matchesAndResults.css" />
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/results.js"></script>
}

@{
    Random rnd = new Random();
    List<Match> upcoming = ViewBag.Upcoming;
    List<Match> finished = ViewBag.Finished;

    string team1status;
    string team2status;

    void SetScoreStatus(int? team1score, int? team2score)
    {
        if (team1score > team2score)
        {
            team1status = "score-won";
            team2status = "score-lost";
        }
        else
        {
            team2status = "score-won";
            team1status = "score-lost";
        }
    }

    string GetDateOrTime(DateTime StartDate)
    {
        if (StartDate.Date == DateTime.Today)
        {
            return StartDate.ToString("HH:mm");
        }
        return StartDate.ToString("dd MMM");
    }
}

<div class="results">
    <div class="results-all">
        <div class="results-sublist">
            <div class="standard-headline">Upcoming matches</div>
            @foreach (Match match in upcoming)
            {
                <div class="result-con">
                    <a asp-controller="Matches" asp-action="Match" asp-route-id="@match.MatchID">
                        <div class="result">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="team-cell">
                                            <div class="line-align team1">
                                                <div class="team">@match.Team1.TeamName</div>
                                                <img src="@Country.GetCountry(match.Team1.Country)">
                                            </div>
                                        </td>
                                        <td class="result-score">
                                            <span class="score" id="@(match.MatchID + "scoreteam1")">@match.ScoreTeam1</span>
                                            -
                                            <span class="score" id="@(match.MatchID + "scoreteam2")">@match.ScoreTeam2</span>
                                        </td>
                                        <td class="team-cell">
                                            <div class="line-align team2">
                                                <img src="@Country.GetCountry(match.Team2.Country)">
                                                <div class="team">@match.Team2.TeamName</div>
                                            </div>
                                        </td>
                                        <td class="event">
                                            <span class="event-name">@match.Event.Name</span>
                                        </td>
                                        <td class="star-cell">
                                            <div class="map-text">@GetDateOrTime(match.StartDate)</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </a>
                </div>
            }
        </div>
        <div class="results-sublist">
            <div class="standard-headline">Finished matches</div>
            @foreach (Match match in finished)
            {
                {
                    SetScoreStatus(match.ScoreTeam1, match.ScoreTeam2);
                }
                <div class="result-con">
                    <a asp-controller="Matches" asp-action="Match" asp-route-id="@match.MatchID">
                        <div class="result">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="team-cell">
                                            <div class="line-align team1">
                                                <div class="team">@match.Team1.TeamName</div>
                                                <img src="@Country.GetCountry(match.Team1.Country)">
                                            </div>
                                        </td>
                                        <td class="result-score">
                                            <span class="@team1status">@match.ScoreTeam1</span>
                                            -
                                            <span class="@team2status">@match.ScoreTeam2</span>
                                        </td>
                                        <td class="team-cell">
                                            <div class="line-align team2">
                                                <img src="@Country.GetCountry(match.Team2.Country)">
                                                <div class="team">@match.Team2.TeamName</div>
                                            </div>
                                        </td>
                                        <td class="event">
                                            <span class="event-name">@match.Event.Name</span>
                                        </td>
                                        <td class="star-cell">
                                            <div class="map-text">@match.Map.Name.Replace("de_", "")</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>