@model EFDataAccessLibrary.Models.Match
@using GameSky.Models
@using EFDataAccessLibrary.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@section Styles {
    <link rel="stylesheet" href="~/css/matchUpSite.css" />
}
@{
    Match match = Model;
    var team1score = match.ScoreTeam1;
    var team2score = match.ScoreTeam2;

    string team1status;
    string team2status;

    if (team1score > team2score)
    {
        team1status = "score-won";
        team2status = "score-lost";
    }
    else
    {
        team2status = "score-won";
        team1status = "score-lost";
    }

}
<div class="match-headerbar">
    <div class="flex">
        <div class="match-button">
            <a href="#">Set reminder</a>
        </div>
        <h1 class="match-title">@match.Team1.TeamName vs @match.Team2.TeamName</h1>
    </div>
</div>
<div class="match-team1 team">
    <div class="team-logo fadeRight">
        <div class="team-logo-container">
            <img src="~/images/100pg.png" />
        </div>
    </div>
    <div class="team-name fadeRight fadeName">
        <div class="name"><a asp-page="/team" asp-route-id="@match.Team1.TeamID">@match.Team1.TeamName</a></div>
    </div>
    <div class="team-country fadeRight fadeName">
        <img src="@Country.GetCountry()" class="flag">
    </div>
    @if (match.EndDate != null)
    {
        <div class="team-score-container fadeRight fadeScore">
            <div class="team-score @team1status">
                <span>@team1score</span>
            </div>
        </div>
    }
</div>
<div class="match-info fadeUp">
    <div class="event-time">
        @if (match.IsUpcoming())
        {
            <span data-time-format="HH:mm">@match.StartDate.ToString("HH:mm")</span>
        }
        else if (match.IsFinished())
        {
            <span data-time-format="HH:mm">Finished</span>
        }
        else
        {
            <span data-time-format="HH:mm">LIVE</span>
        }
    </div>
    <div class="event-name">
        @match.Event.Name
    </div>
    <div class="event-date">
        <span data-time-format="do MM yyyy">@match.StartDate.ToString("dd MMM yyyy")</span>
    </div>
    @if (match.Event.Location is null)
    {
        <div class="event-type">Online</div>
    }
    else
    {
        <div class="event-type">@match.Event.Location</div>
    }
</div>
<div class="match-team2 team">
        <div class="team-score-container fadeLeft fadeScore">
            <div class="team-score @team2status">
                <span>@team2score</span>
            </div>
        </div>
    <div class="team-logo fadeLeft">
        <div class="team-logo-container">
            <img src="~/images/virtuspro.svg" />
        </div>
    </div>
    <div class="team-name fadeLeft fadeName">
        <div class="name"><a asp-page="/team" asp-route-id="@match.Team1.TeamID">@match.Team2.TeamName</a></div>
    </div>
    <div class="team-country fadeLeft fadeName">
        <img src="@Country.GetCountry()" class="flag">
    </div>
</div>