@model EFDataAccessLibrary.Models.Player
@using EFDataAccessLibrary.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    Player player = Model;
    int PtnlPrice = Player.GetSkillPrice(player.Potencial);
    int AimPrice = Player.GetSkillPrice(player.Aim);
    int KnwlPrice = Player.GetSkillPrice(player.Knowledge);
    bool owner = false;
    PlayerTeam playersTeam = null;
    if (player.PlayerTeam is not null)
        playersTeam = player.PlayerTeam.FirstOrDefault();
    double gold = 0;
    if (playersTeam is not null)
    {
        int TeamID = playersTeam.TeamID;

        if (SignInManager.IsSignedIn(User))
        {
            var _user = UserManager.GetUserAsync(User).Result;
            gold = _user.Gold;
            int? owningTeamId = _user.OwningTeamId;
            if (owningTeamId is not null)
            {
                owner = owningTeamId == TeamID ? true : false;
            }
        }
    }
}
<div class="playerInfo">
    <div class="playerInfo--top">
        <h1 class="playerName">@player.NickName</h1>
        <img class="player-photo blank" src="~/images/players/navi/5.png" />
    </div>
    <div class="skills--container">
        @if (owner)
        {
            <div class="skillBox">
                @if (PtnlPrice != -1)
                {
                    if (PtnlPrice > gold)
                    {
                        <p class="skill">Potencial: @player.Potencial</p><p class="full">Za mało środków by ulepszyć.</p>
                    }
                    else
                    {
                        <p class="skill">Potencial: @player.Potencial</p> <p class="upgrade">Upgrade cost: @PtnlPrice$</p>
                        <a onclick="UpgradeSkill(this)" class="upgradeBtn" data-custom-value="Potencial">UPGRADE</a>
                    }
                }
                else
                {
                    <p class="skill">Potencial: @player.Potencial</p><p class="full">Osiągnięto maksymalny poziom.</p>
                }
            </div>
            <div class="skillBox">
                @if (AimPrice != -1)
                {
                    if (AimPrice > gold)
                    {
                        <p class="skill">Aim: @player.Aim</p><p class="full">Za mało środków by ulepszyć.</p>
                    }
                    else
                    {
                        <p class="skill">Aim: @player.Aim</p> <p class="upgrade">Upgrade cost: @AimPrice$</p>
                        <a onclick="UpgradeSkill(this)" class="upgradeBtn" data-custom-value="Aim">UPGRADE</a>}
                }
                else
                {
                    <p class="skill">Aim: @player.Aim</p><p class="full">Osiągnięto maksymalny poziom.</p>
                }
            </div>
            <div class="skillBox">
                @if (KnwlPrice != -1)
                {
                    if (KnwlPrice > gold)
                    {
                        <p class="skill">Knowledge: @player.Knowledge</p><p class="full">Za mało środków by ulepszyć.</p>
                    }
                    else
                    {
                        <p class="skill">Knowledge: @player.Knowledge</p> <p class="upgrade">Upgrade cost: @KnwlPrice$</p>
                        <a onclick="UpgradeSkill(this)" class="upgradeBtn" data-custom-value="Knowledge">UPGRADE</a>
                    }
                }
                else
                {
                    <p class="skill">Knowledge: @player.Knowledge</p><p class="full">Osiągnięto maksymalny poziom.</p>
                }



            </div>
        }
        else
        {
            <div class="infoBox">
                <p class="infoHeader">Potencial</p> <p class="infoBody">@(player.Potencial*10)</p>
            </div>

            <div class="infoBox">
                <p class="infoHeader">Aim</p> <p class="infoBody">@(player.Aim*10)</p>
            </div>

            <div class="infoBox">
                <p class="infoHeader">Knowledge</p> <p class="infoBody">@(player.Knowledge*10)</p>
            </div>
        }
        <div class="infoBox">
            <p class="infoHeader">Age</p> <p class="infoBody">@player.GetAge()</p>
        </div>

        <div class="infoBox">
            <p class="infoHeader">Level</p> <p class="infoBody">@player.PlayerLevel</p>
        </div>

        <div class="infoBox">
            <p class="infoHeader">Market value</p> <p class="infoBody">@player.Prize$</p>
        </div>

        <div class="infoBox">
            <p class="infoHeader">Quality</p> <p class="infoBody">@player.Quality</p>
        </div>
    </div>
</div>