@model GameSky.Models.PlayersPageModel
@using EFDataAccessLibrary.Models

@{
    List<Player> players = Model.Players;
}

@section Styles {
    <link rel="stylesheet" href="~/css/playersList.css" />
}

<div class="players-list--container">
    @if (players != null)
    {
        @foreach (Player player in players)
        {
    <a class="player-card" asp-page="/Player" asp-route-id="@player.PlayerID">
        @Html.Partial("~/Pages/Shared/PartialViews/_PlayerCard.cshtml", player)
    </a>
        }
    }
</div>
@if (Model.TotalAmount > 0)
{
    <div class="pagination" style="margin-top: 40px">
        <a onclick="ChangePage(1)">&laquo;</a>
        @if (Model.HasLessThanPrev())
        {
            <a class="pageBtn" onclick="ChangePage(1)" id="@($"pageBtn{1}")">1</a>
            <a class="pageBtn">...</a>
        }
        @if (Model.HasPrev())
        {
            <a class="pageBtn" onclick="ChangePage(@Model.CurrentPage-1)" id="@($"pageBtn{Model.CurrentPage - 1}")">@(Model.CurrentPage - 1)</a>
        }

        <a class="pageBtn currentPage" onclick="ChangePage(@Model.CurrentPage)" id="@($"pageBtn{ Model.CurrentPage}")">@Model.CurrentPage</a>

        @if (Model.HasNext())
        {
            <a class="pageBtn" onclick="ChangePage(@Model.CurrentPage+1)" id="@($"pageBtn{Model.CurrentPage + 1}")">@(Model.CurrentPage + 1)</a>
        }

        @if (Model.HasMoreThanNext())
        {
            <a class="pageBtn">...</a>
            <a class="pageBtn" onclick="ChangePage(@Model.GetAmountOfPages())" id="@($"pageBtn{Model.GetAmountOfPages()}")">@Model.GetAmountOfPages()</a>
        }
        <a onclick="ChangePage(@Model.GetAmountOfPages())">&raquo;</a>
    </div>
}
<script>
    function ChangePage(number) {
        var quality = document.getElementById("qualities").value;
        var role = document.getElementById("roles").value;
        var queryVal = document.getElementById("searchInput").value;

        var button = document.getElementById("pageBtn" + number);
        var activeBtn = document.getElementsByClassName("currentPage")[0];


        if (!button.disabled) {
            activeBtn.classList.remove("currentPage");
            activeBtn.disabled = false;

            button.classList.add("currentPage");
            button.disabled = true;

            $.ajax({
                url: "/players?handler=PlayersWithFilters",
                type: "get",
                data: { pageNum: number, pageSize: 5, roleName: role, quality: quality, query: queryVal },
                success: function (result) {
                    $("#players-view").html(result);
                    ClearCards();
                }
            });
        }
    }
</script>