@model IEnumerable<EFDataAccessLibrary.Models.NewsHeader>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tytuł artykułu
            </th>
            <th>
                Opis artykułu
            </th>
            <th>
                Data utworzenia
            </th>
            <th>
                Data opublikowania
            </th>
            <th>
                Opublikowano
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.NewsContent)
            </th>*@
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NewsTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsCreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsPublishDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPublished)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.NewsContent.Content)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.NewsId">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.NewsId">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.NewsId">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
