@using Microsoft.AspNetCore.Identity
@using EFDataAccessLibrary.Models;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@section Styles {
    <link rel="stylesheet" href="~/css/site.css" />
}

@{
    var _user = await UserManager.GetUserAsync(User);

    string GetName(string name)
    {
        if (name.Contains("@"))
        {
            return name.Split("@")[0];
        }
        return name;
    }
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        if (_user.OwningTeamId != null)
        {
        <li class="nav-item">
            <a class="nav-link" title="Owning Team" asp-page="/team" asp-route-id="@_user.OwningTeamId">
                <span>My Team</span>
            </a>
        </li>
        }
        <li class="nav-item">
            <a class="nav-link" title="Premium currency">
                <img src="~/icons/dollars_symbol.png" class="icon" /> @_user.Dollars
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" title="Free currency" onclick="Payment()">
                <img src="~/icons/euro_symbol.png" class="icon" /> <span id="goldText">@string.Format("{0:N}", _user.Gold)</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Cześć @GetName(User.Identity.Name)!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
<script>
    function Payment() {
        $.ajax({
            url: "/user/PaymentDollars",
            type: "post",
            contentType: "application/x-www-form-urlencoded",
            data: { 'amount': 5000 },
            success: function (data, textStatus, xhr) {
                RefreshGold();
            }
        });
    }
</script>